*,
* ::after,
* ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* list-style: none; */
}


:root {
    --primary-color: #1a1a1a;
    --secondary-color: #f5f5f5;
    --text-color: #1e1e1e;
    --heading-color: #1e1e1e;
    --heading-secondary-color: #234894;
    --background-box-color: #219F95;
    --background-box-secondary-color: #AFCEDD;
    --text-box-color: #fff;
    --number-box-color: #234894;
    --font-size-base: 1.6rem;
    --font-size-lg: 1.8rem;
    --font-size-sm: 1.2rem;
    --color-text-sm: #696969;
    --line-height-base: 1.5rem;
    --border-radius-base: 8px;
    /* --border-radios-avatar: 100%; */
    --transition-base: all 0.3s ease-in-out;
}

html {
    font-size: 62.5%;
}


body {
    font-size: var(--font-size-base);
    font-family: Vazirmatn, sans-serif;

}


h1 {
    font-size: var(--font-size-lg);
    color: var(--heading-color);
}



/* container */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/*  */

.admin--panel {
    padding: 2rem;

}

.panel__title{
    margin-bottom: 5rem;
    font-size: 2rem;
     font-weight: 900;
}

.panel--cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
}

@media screen and (min-width: 768px) {
    .panel--cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .panel__title{
        font-size: 2.2rem;
    }

}

@media screen and (min-width: 1024px) {
    .panel--cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .panel__title{
        font-size: 2.5rem;
    }
}

.panel--card {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-bottom: 5rem;
}

.card__intro {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.intro__number {
    background-color: var(--background-box-secondary-color);
    color: var(--number-box-color);
    padding: 0.3rem 1rem;
    border-radius: var(--border-radius-base);
}

.intro__title {
    color: var(--heading-secondary-color);
    /* margin-right: -20rem; */
    margin-right: 1rem;
}

.intro__date {
    font-size: var(--font-size-sm);
    color: var(--color-text-sm);
    /* align-self: flex-end; */
}


.content__reqid {
    font-size: var(--font-size-sm);
    color: var(--color-text-sm);
}

.avatar__img {
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius-base);
    object-fit: cover;
}


.card__avatar {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;

}

.avatar__name {
    margin-right: 1rem;
}

.avatar__req {
    font-size: var(--font-size-base);
    color: var(--text-box-color);
    background-color: var(--background-box-color);
    padding: 1rem 2rem;
    border-radius: var(--border-radius-base);
    border: none;
    cursor: pointer;
    transition: var(--transition-base);
}

.avatar__req:hover {
    background-color: var(--background-box-secondary-color);
    color: var(--number-box-color);
    transition: var(--transition-base);
}


.avatar__status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}


.intro__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__content{
    margin-top: 1.5rem;
}



@media screen and (min-width: 1024px) {
    body {
        font-size: var(--font-size-lg);
    }
}